/* CSS BY ANGELA ROQUE */
/*GIT 337: WEB CONTENT DESIGN*/

/* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* CSS REST */
    /*keep code organized! Tab parts like html code so I don't get confused */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    .page {
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
    }

    body {
        background-color:#6B8FE7;
        color: #1E1E1E;
        text-align: center;
        font-size: var(--font-body);
        margin: 0;
        padding: 0;
    }
    
    /*----------header----------*/

    header {
        background-color: #484FB7;
        color:#ffffff;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
    }

        h1 {
            font-size: 3em;
            font-family: var(--font-heading);
            margin-bottom: 0;
        }

        header p {
            font-family: var(--font-body);
            font-style: italic;
            margin-top: 0;
        }

    /*----------nav----------*/

    nav {
        background-color: #E9BB57;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font-body);
        margin: 0 auto;
        padding: 10px;
    }

        nav h2 {
            font-size: 1.5em;
            color: black;
            padding: 10px;
            font-style: italic;
        }

            nav ul {
                list-style: none;
            }

            nav li {
                background-color: #ffffff;
                margin: 10px;
                padding: 15px 25px;
                
            }

            nav a {
                color:#484FB7;
                text-decoration: none;
                font-weight: bolder;
                font-style: normal;
            }

    /*----------our services section----------*/

    #our-services {
        background-color: #484FB7;
        text-align: left;
        margin: 0 auto;
        padding: 5px;
    }

        #our-services > h2, #why-choose-us > h2, #prices > h2, #take-the-first-step > h2 {
            font-size: 2em;
            font-family: var(--font-heading);
            color:#ffffff;
            padding: 10px;
            margin: 0 auto;
        }

        h3 {
            font-size: 1.5em;
            font-family: var(--font-body);
            color:#E9BB57;
            padding: 10px;
            margin-top: 0;
        }

        #our-services > h4 {
            font-size: 1.153m;
            font-family: var(--font-body);
            color:#484FB7;
        }

            .box {
                background-color: #ffffff;
                margin: 10px;
                padding: 20px 30px;
            }



    /* h2 {
        font-size: 2em;
        font-family: var(--font-heading);
        color:#ffffff;
        text-align: left;
    }

    h3 {
        font-size: 1.5em;
        font-family: var(--font-body);
        color:#E9BB57;
    }

    h4 {
        font-size: 1.153m;
        font-family: var(--font-body);
        color:#484FB7;
    }

    footer {
        color:#ffffff;
    } */


/* ROOT VARIABLES */
:root {
    /* Colors */
    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57;
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E;
    --White:#ffffff;

    /* Fonts */
    --font-heading: 'Kavoon', cursive;
    --font-body: 'Inter', sans-serif;
}


/* GLOBAL STYLES (mobile first/small) */
@media screen and (max-width: 450px) {
    .page {
        max-width: 100%;
        padding: 0;
    }

    body {
         background-color:#6B8FE7;
         text-align: center;
    }
}