/* CSS BY ANGELA ROQUE */
/* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* CSS REST */
    


/* ROOT VARIABLES */
:root {
    /* Colors */
    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57;
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E;
    --White:#ffffff;

    /* Fonts */
    --font-heading: 'Kavoon', cursive;
    --font-body: 'Inter', sans-serif;
}


/* GLOBAL STYLES (mobile first/small) */
@media screen and (max-width: 450px) {
    body {
        background-color:#484FB7;
        color: #1E1E1E;
        max-width: 450px;
        text-align: center;
    }
    h1 {
        font-size: 3em;
        font-family: var(--font-heading) ;
        color:#ffffff;
    }

    #p h1 {
        font-family: var(--font-body);
        font-style: italic;
    }

    nav {
        background-color: #E9BB57;
    }

    nav h2 {
        font-size: 1.5em;
        font-family: var(--font-body);
        font-style: italic;
        color: black;
    }

    nav li {
        background-color: #ffffff;
        color:#484FB7;
    }

    h2 {
        font-size: 2em;
        font-family: var(--font-heading);
        color:#ffffff;
        border-style: solid;
    }

    h3 {
        font-size: 1.5em;
        font-family: var(--font-body);
        color:#E9BB57;
    }

    h4 {
        font-size: 1.153m;
        font-family: var(--font-body);
        color:#484FB7;
    }

    footer {
        color:#ffffff;
    }
}