/* CSS BY ANGELA ROQUE */
/*GIT 337: WEB CONTENT DESIGN*/

/* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* CSS REST */
    /*keep code organized! Tab parts like html code so I don't get confused */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    .page {
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
    }

    body {
        background-color:#6B8FE7;
        color: #1E1E1E;
        text-align: center;
        font-size: var(--font-body);
        margin: 0;
        padding: 0;
    }
    
    /*----------header----------*/

    header {
        background-color: #484FB7;
        color:#ffffff;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
    }

        h1 {
            font-size: 3em;
            font-family: var(--font-heading);
            margin-bottom: 0;
        }

        header p {
            font-family: var(--font-body);
            font-style: italic;
            margin-top: 0;
        }

    /*----------nav----------*/

    nav {
        background-color: #E9BB57;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font-body);
        margin: 0 auto;
        padding: 10px;
    }

        nav h2 {
            font-size: 1.5em;
            color: black;
            padding: 5px;
            font-style: italic;
        }

            nav ul {
                list-style: none;
            }

            nav li {
                background-color: #ffffff;
                margin: 10px;
                padding: 15px 25px;
                
            }

            nav a {
                color:#484FB7;
                text-decoration: none;
                font-weight: bolder;
                font-style: normal;
            }

    /*----------our services section----------*/

    #our-services {
        background-color: #484FB7;
        text-align: left;
        margin: 0 auto;
        padding: 10px;
    }

        #our-services > h2, #why-choose-us > h2, #prices > h2, #take-the-first-step > h2 {
            font-size: 2em;
            font-family: var(--font-heading);
            color:#ffffff;
            padding: 0px 10px;
            margin: 0 auto; 
        }

            h3 {
                font-size: 1.5em;
                font-family: var(--font-body);
                color:#E9BB57;
                padding: 8px;
                margin-top: 0;
            }

                h4 {
                    font-size: 1.15em;
                    font-family: var(--font-body);
                    color:#484FB7;
                }

                    .box {
                        background-color: #ffffff;
                        margin: 20px;
                        padding: 25px;
                        border-radius: 15px;
                    }

                    .box p {
                        font-family: var(--font-body);
                    }
            
/*----------why choose us section----------*/
/*note to self that the li on this part is 2x2 display grid.*/
    #why-choose-us {
        background-color: #D9526F;
        text-align: left;
        margin: 0 auto;
        padding: 10px;
    }

        #why-choose-us ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 20px;
            list-style: none;
            margin: 0;
        }

        #why-choose-us li {
            text-align: center;
            font-size: 1.15em;
            font-family: var(--font-body);
            font-weight: bolder;
            padding: 25px;
            border-radius: 20px;
            color: #1E1E1E;
        }

            .approach {
                background-color: #4CA7C0;
            }

            .results {
                background-color:#6B8FE7;
            }

            .environment {
                background-color: #E9BB57;
            }

            .options {
                background-color: #ffffff;
            }

/*----------prices section----------*/
    #prices {
        background-color: #484FB7;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }

    #prices h2, #prices h3 {
        text-align: left;
        margin: 0;
    }

        #prices table {
            background-color: #E9BB57;
            margin: 0 auto;
            border-collapse: separate;
            border-spacing: 5px;
            padding: 5px;
        }

            #prices th {
                text-transform: uppercase;
                text-align: center;
                font-family: var(--font-body);
                font-weight: bolder;
                list-style: none;
                margin: 0;
                padding: 5px;
            }

            #prices td {
                text-align: left;
                font-family: var(--font-body);
                padding: 5px 10px;
                color: #1E1E1E;
                background-color: #ffffff;
            }

/*----------take the first step section----------*/
    #take-the-first-step {
        background-color: #D9526F;
        margin: 0 auto;
        padding: 10px;
        font-family: var(--font-body);
    }

        #take-the-first-step h2  {
            text-align: left;    
        }

        #take-the-first-step p  {
            color:#ffffff;
            padding: 10px;
            text-align: left;    
        }

        #take-the-first-step a {
            display: block;
            background-color: #ffffff;
            color:#1E1E1E;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 15px;
            box-shadow: 5px 5px#1E1E1E;
            font-weight: bolder;
            padding: 20px 40px;
            align-items: center;
            justify-content: center;
        }


/*----------footer section----------*/

    footer {
        color:#ffffff;
        background-color: #484FB7;
        font-family: var(--font-body);
        padding: 30px;
    }

    footer small {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    
    footer a {
        text-decoration: underline;
        color:#ffffff;
    }


/* ROOT VARIABLES */
:root {
    /* Colors */
    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57;
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E;
    --White:#ffffff;

    /* Fonts */
    --font-heading: 'Kavoon', cursive;
    --font-body: 'Inter', sans-serif;
}


/* GLOBAL STYLES (mobile first/small) */
@media screen and (max-width: 450px) {
    .page {
        max-width: 100%;
        padding: 0;
    }

    body {
         background-color:#6B8FE7;
         text-align: center;
    }
}