/* CSS BY ANGELA ROQUE */
/* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* CSS REST */



/* ROOT VARIABLES */
:root {
    /* Colors */
    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57;
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E;
    --White:#ffffff;

    /* Fonts */
    --font-heading: 'Kavoon';
    --font-body: 'Inter';
}


/* GLOBAL STYLES (mobile first/small) */
@media (max-width: 450px) {
    h1 {
        font-size: 3em;
        font-family: var(--font-heading);
    }

    p h1 {
        font-family: var(--font-body);
        font-style: italic;
    }

    nav h2 {
        font-size: 1.5em;
        font-family: var(--font-body);
        font-style: italic;
    }

    h2 {
        font-size: 2em;
        font-family: var(--font-heading);
    }

    h3 {
        font-size: 1.5em;
        font-family: var(--font-body);
    }

    h4 {
        font-size: 1.153m;
        font-family: var(--font-body);
    }
}